@import '../../styles';
.slideshow-title {
    font-size: 5vw;
}

.project-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba($pink, 0.5), rgba($pink, 0.5)), url(../../assets/images/projects-section-back.jpg);
    // height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 28vw;
    padding-top: 5vw;
}
