@media (max-width: 800px) and (orientation: portrait) {
  .project-section-main {
    background-attachment: unset !important; // background-attachment fixed makes mobile blurry

  }
  .about-section-main {
    background-attachment: unset !important;
  }
  .landing-page-main {
    background-attachment: unset !important;
  }
  .contact-section-main {
    background-attachment: unset !important;
  }
}
