<div *ngIf="scrollInfoObj?.about" #aboutSectionMain class="about-section-main" appScrollIntoView>
    <div class="left-section">
        <img src="../../assets/images/profile-pic.jpg" alt="picture of Joseph">
    </div>
    <div class="right-section">
        <p class="about-paragraph">{{
            aboutMe
        }}
        </p>
    </div>
</div>

<div *ngIf="!scrollInfoObj?.about" #aboutSectionMain class="about-section-main">
  <div class="left-section">
      <img src="../../assets/images/profile-pic.jpg" alt="picture of Joseph">
  </div>
  <div class="right-section">
      <p class="about-paragraph">{{
          aboutMe
      }}
      </p>
  </div>
</div>
