<div *ngIf="scrollInfoObj?.about" #aboutSectionMain class="about-section-main" appScrollIntoView>
    <div class="left-section">
        <img src="../../assets/images/profile-pic.jpg" alt="picture of Joseph">
    </div>
    <div class="right-section">
        <p class="about-paragraph">
            I think life is all about the connections we make. <br>
            Everyone has something to teach you.<br>
            Everyone is a mirror in which you can see your reflection.<br>
            <br>
            I grew up pretty shy.<br>
            I was always thinking deeply about the things going on around me but
            often kept those thoughts to myself.
            As I've gotten older, I've learned to open up an share the knowledge I've
            learned over the years. Exchanging experiences and knowledge with others
            is honestly the most satisfying thing in the world to me.
        </p>
    </div>
</div>

<div *ngIf="!scrollInfoObj?.about" #aboutSectionMain class="about-section-main">
  <div class="left-section">
      <img src="../../assets/images/profile-pic.jpg" alt="picture of Joseph">
  </div>
  <div class="right-section">
      <p class="about-paragraph">
          I think life is all about the connections we make. <br>
          Everyone has something to teach you.<br>
          Everyone is a mirror in which you can see your reflection.<br>
          <br>
          I grew up pretty shy.<br>
          I was always thinking deeply about the things going on around me but
          often kept those thoughts to myself.
          As I've gotten older, I've learned to open up an share the knowledge I've
          learned over the years. Exchanging experiences and knowledge with others
          is honestly the most satisfying thing in the world to me.
      </p>
  </div>
</div>
