  <div *ngIf="scrollInfoObj?.home" appScrollIntoView class="landing-page-main">
    <div class="header">
      <div class="logo">
        <a href="https://angular.io/" target="_blank">
          <h4 style="display: inline-block;">Built With Angular 2</h4>
          <div class="angular-logo"></div>
        </a>
      </div>
      <ul>
        <!-- <li (click)="setScrollInfo('home')">Home</li> -->
        <li (click)="setScrollInfo('projects')">Projects</li>
        <li>About</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="name-section">
      <h1>Joseph Joyce</h1>
      <h2>Software Developer/Web Developer</h2>
      <button>Welcome to my Portfolio!</button>
    </div>
  </div>

  <div *ngIf="!scrollInfoObj?.home" class="landing-page-main">
    <div class="header">
      <div class="logo">
        <a href="https://angular.io/" target="_blank">
          <h4 style="display: inline-block;">Built With Angular 2</h4>
          <div class="angular-logo"></div>
        </a>
      </div>
      <ul>
        <!-- <li (click)="setScrollInfo('home')">Home</li> -->
        <li (click)="setScrollInfo('projects')">Projects</li>
        <li (click)="setScrollInfo('about')">About</li>
        <li (click)="setScrollInfo('contact')">Contact</li>
      </ul>
    </div>
    <div class="name-section">
        <p *ngIf="showWelcomePopup" class="welcome-popup">I am a popup</p>
      <h1>Joseph Joyce</h1>
      <h2>Software Developer/Web Developer</h2>
      <button>Welcome to my Portfolio!</button>
    </div>
  </div>
