
@import "../../styles";

.landing-page-main {

    clip: rect(50vw,20vw,10vw,10vw);
    text-align: center;
    background: linear-gradient(rgba(blue, 0.3), rgba(blue, 0.3)), url(../../assets/images/landing-page-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    & .header {
        display: flex;
        color: white;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(black, 0.5);

        & .logo {

          & a {
            cursor: pointer;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 2vw;
            font-size: 1vw;
            text-decoration: none;
            color: rgba(white, 0.7);

            & .angular-logo {
              background-image: url(../../assets/images/angular-logo.png);
              background-size: contain;
              width: 2vw;
              height: 2vw;
              margin-left: 0.5vw;
            }
          }


        }

        & ul {
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            & li {
                transition: $trans;
                cursor: pointer;
                margin: 1vw 1.5vw;
                padding: 0.5vw 0.5vw;
                font-size: 1vw;
                border-radius: 0.25vw;
                &:hover {
                    background-color: $pink;
                    color: black;
                }
            }
        }
    }

    & .name-section {
        margin-top: 10vw;

        & * {
            transition: all 0.5s;
        }

        & h1 {
            animation: nameEntrance 1s forwards 1s;
            transform: scale(0, 0);
            font-size: 12rem;
            text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        }

        & h2 {
            animation: titleEntrance 0.75s forwards 1.5s;
            transform: scaleY(0);
            font-size: 5rem;
            text-shadow:
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
        }

        & button {
            animation: fadeIn 1s forwards 2s;
            opacity: 0;
            cursor: pointer;
            transition: all 0.5s;
            display: inline-block;
            border: none;
            border-radius: 1rem;
            padding: 1rem 2rem;
            margin: 2rem 0;
            text-decoration: none;
            background: $blue;
            color: #ffffff;
            font-family: sans-serif;
            font-size: 2rem;
            cursor: pointer;
            text-align: center;
            -webkit-appearance: none;
            -moz-appearance: none;

            &:hover {
                background: $pink;
                transform: translateY(-0.5rem);
                box-shadow: 0.4vw 0.4vw rgba(black, 0.7);
            }
            &:active {
                box-shadow: 0.125vw 0.125vw rgba(black, 0.7);
                transform: translateY(-0.2rem);
            }
        }
    }
}



