<p class="slideshow-title">
    P&nbsp;&nbsp;&nbsp;R&nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;&nbsp;J&nbsp;&nbsp;&nbsp;E&nbsp;&nbsp;&nbsp;
    C&nbsp;&nbsp;&nbsp;T&nbsp;&nbsp;&nbsp;S
</p>
<div class="slideshow-main">
        <div class="arrows">
                <div (click)="changeSlide(-1)" class="arrow left">
                    <img src="./../../../assets/images/arrow-left.png" alt="arrow">
                </div>
                <div class="arrow-spacer"></div>
                <div (click)="changeSlide(1)" class="arrow right">
                    <img src="./../../../assets/images/arrow-right.png" alt="arrow">
                </div>
            </div>
    <app-slide [current]="currentSlide === i ? true : false" [background]="slides[i].image" [url]="slides[i].url" *ngFor="let slide of slides; let i = index"></app-slide>
    <div class="bullet-points">
        <span [style.opacity]="currentSlide === i ? 1 : 0.5" *ngFor="let slide of slides; let i = index">•</span>
    </div>
</div>
