@import "../../../styles";
.slideshow-title {
  font-size: 2.5vw;
  font-weight: bold;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5vw;
}

.slideshow-section-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;

  & .slideshow-main {
    position: relative;
    margin-right: 5vw;
    align-content: center;
    // overflow: hidden;
    height: $slideHeight;
    width: $slideWidth;
    background-color: white;
    border-radius: 0.5vw;

    .arrows {
      padding-top: 11vw;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 4vw;

      & .arrow {
        z-index: 100;
        padding: 0 0.6vw;
        transition: $trans;
        margin: 1vw;
        // background: black;
        opacity: 0.5;
        cursor: pointer;
        // border: solid black 0.25vw;
        border-radius: 50%;

        & img {
          width: 10vw;
          transform: translateY(0.5vw);
        }

        &:hover {
          opacity: 1;
        }
        &:active {
          background-color: rgba(white, 0.5);
        }
      }

      & .arrow-spacer {
        margin: 0 5vw;
      }
    }

    & .bullet-points {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: absolute;
      bottom: -4vw;
      // left: 5vw;
      transform: translateX(-50%);
      left: 50%;
      background-color: rgba(black, 0.5);
      padding: 0.25vw;
      // border-radius: 17%;

      & span {
        transition: $trans;
        font-size: 2vw;
        color: white;
        margin: 0.5vw;
      }
    }

    & .hover-cover {
      width: $slideWidth;
      height: $slideHeight;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      z-index: 500;
    }

    // & p {
    //   // width: 20vw;
    //   // height: 10vw;
    //   padding: 2vw;
    //   transform: translateX(-50%);
    //   border-radius: 10%;
    //   font-size: 1vw;
    //   display: inline-block;
    //   margin-top: 15vw;
    //   margin-left: 50%;
    //   background-color: $blue;
    //   text-align: center;
    //   cursor: pointer;
    //   border: solid white 0.2vw;
    // }
  }

  & .slide-description {
    background-color: rgba(white, 0.5);
    padding: 2vw;
    width: 40vw;
    height: 15vw;


    & p {
      font-size: 1vw;
    }
  }
}
