@import '../../../styles';
.slideshow-title {
    font-size: 5vw;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 1vw;
}

.slideshow-main {
    position: relative;
    align-content: center;
    overflow: hidden;
    height: $slideHeight;
    width: $slideWidth;
    background-color: white;
    border-radius: 0.5vw;

    & .bullet-points {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 0;
        left: 5vw;

        & span {
            transition: $trans;        
            font-size: 2vw;
            color: white;
            margin: 0.5vw;
        }
    }
}

.arrows {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;

    & .arrow {
        padding: 0.5vw;
        transition: $trans;
        margin: 1vw;
        background: $blue;  
        cursor: pointer;

        &:hover {
            background: $pink;
        }
        &:active {
            background-color: white;
        }
    }
}