
// variables:

@import 'sass/variables';


* {
    margin: 0;
    padding: 0;
    box-sizing: inherit; 
}

*::before, *::after {
      margin: 0;
      padding: 0;
      box-sizing: inherit; 
}
  
  html {
    font-size: 0.7vw; 
}
  
  body {
    box-sizing: border-box; 
}